{% extends '::standard_layout.html.twig' %}

{% block content %}
    <div class="alert alert-error pull-right">
        <i class="icon-arrow-up"></i> Please, select a site to work with.
    </div>
{% endblock %}