{% extends '::base.html.twig' %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% from 'MopaBootstrapBundle::macros.html.twig' import badge, label %}
{% from 'MainBundle::macros.html.twig' import form_actions %}

{% block body %}
    {% if user %}
        {% include '::navbar_top.html.twig' %}
    {% endif %}

    <div class="container-fluid content" data-pjax-container="content">
        {% if block('title') %}
            <div class="page-header">
                <h1>{{ block('title') }}</h1>
            </div>
        {% endif %}

        {{ session_flash() }}
        {{ block('content') }}
    </div>
{% endblock %}